<label>Room</label>
<select id="room" name="roomName" class="mb-2 form-control form-control-lg">
  <option value="JavaScript">JavaScript</option>
  <option value="Java">Java</option>
  <option value="CSS">CSS</option>
  <option value="HTML">HTML</option>
</select>